In [ ]:
import pandas as pd
import seaborn as sn

### Extração de dados da planilha com Pandas e openpyxl

In [7]:
planilhas = ["Usuários","Incidentes","Ativos Monitorados","Antivírus","Plataformas"]
df_dados_criminais = pd.read_excel("Dados_Crimes_Ciberneticos_SP.xlsx", sheet_name=planilhas)

### Visualização de planilhas

In [ ]:
chaves = df_dados_criminais.keys()

for i in chaves:
    display(df_dados_criminais.get(i))

       ID             Bairro              Renda
0    1001    Jardim Paulista     Até 2 salários
1    1002    Jardim Paulista  De 2 a 6 salários
2    1003          Pinheiros  De 2 a 6 salários
3    1004       Vila Andrade  De 2 a 6 salários
4    1005         Itaim Bibi     Até 2 salários
..    ...                ...                ...
415  1416    Jardim Paulista  De 2 a 6 salários
416  1417          Pinheiros     Até 2 salários
417  1418  Cidade Tiradentes     Até 2 salários
418  1419         Guaianases     Até 2 salários
419  1420            Tatuapé  De 2 a 6 salários

[420 rows x 3 columns]

,ID Usuário,Tipo de Ataque,Data,Hora,Status,Tempo para Resolver
0,1001,Adware,2025-03-29,09:07,Solucionado,1-2 dias
1,1002,Adware,2025-03-16,01:43,Solucionado,1-2 dias
2,1003,Adware,2025-03-25,20:45,Não solucionado,1-2 dias
3,1004,Adware,2025-03-27,23:05,Solucionado,Mais de 3 dias
4,1005,Phishing,2025-03-24,21:25,Solucionado,Mais de 3 dias
...,...,...,...,...,...,...
415,1416,Phishing,2025-03-27,03:39,Solucionado,1-2 dias
416,1417,Ransomware,2025-03-10,12:09,Solucionado,Mais de 3 dias
417,1418,Ransomware,2025-03-08,11:55,Não solucionado,Mais de 3 dias
418,1419,Phishing,2025-03-14,22:48,Solucionado,Mais de 3 dias
419,1420,Phishing,2025-03-18,13:22,Não solucionado,Mais de 3 dias

     ID Usuário Dispositivo Sistema Operacional
0          1001     Celular         Windows 10+
1          1002  Computador         Windows 10+
2          1003     Celular             iOS 14+
3          1004     Celular         Android 10+
4          1005     Celular         Android 10+
..          ...         ...                 ...
415        1416       Ambos         Android 10+
416        1417     Celular         Android 10+
417        1418  Computador         Android 10+
418        1419  Computador             iOS 14+
419        1420     Celular         Android 10+

[420 rows x 3 columns]

     ID Usuário         Antivírus
0          1001            Norton
1          1002  Windows Defender
2          1003  Windows Defender
3          1004  Windows Defender
4          1005  Windows Defender
..          ...               ...
415        1416             Avast
416        1417            Norton
417        1418  Windows Defender
418        1419            Nenhum
419        1420         Kaspersky

[420 rows x 2 columns]

     ID Usuário      Meio de Ataque  Coluna1
0          1001   Apps de mensagens      NaN
1          1002        E-mail falso      NaN
2          1003  Sites fraudulentos      NaN
3          1004        E-mail falso      NaN
4          1005  Sites fraudulentos      NaN
..          ...                 ...      ...
415        1416       Redes sociais      NaN
416        1417   Apps de mensagens      NaN
417        1418  Sites fraudulentos      NaN
418        1419  Sites fraudulentos      NaN
419        1420        E-mail falso      NaN

[420 rows x 3 columns]

### Tratamento de dados

``` Verifica a quantidade de dados nulos ```

In [33]:
for i in planilhas:
    df_dados_criminais.get(i).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      420 non-null    int64
 1   Bairro  420 non-null    object
 2   Renda   420 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Usuário           420 non-null    int64
 1   Tipo de Ataque       420 non-null    object
 2   Data                 420 non-null    object
 3   Hora                 420 non-null    object
 4   Status               420 non-null    object
 5   Tempo para Resolver  420 non-null    object
dtypes: int64(1), object(5)
memory usage: 19.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Usuário           420 non-null    int64
 1   Dispositivo          420 non-null    object
 2   Sistema Operacional  420 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID Usuário  420 non-null    int64
 1   Antivírus   420 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID Usuário      420 non-null    int64
 1   Meio de Ataque  420 non-null    object
 2   Coluna1         0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.0+ KB

In [34]:
df_dados_criminais.get(planilhas[4]).isnull().sum()

ID Usuário          0
Meio de Ataque      0
Coluna1           420
dtype: int64

``` Remove coluna com valores nulos ```

In [31]:
plataformas = df_dados_criminais.get(planilhas[4]).dropna(axis=1)

``` Verifica se há duplicatas ```

In [ ]:
for i in planilhas:
    display(df_dados_criminais.get(i).duplicated().sum())

np.int64(0)

np.int64(0)

np.int64(0)

np.int64(0)

np.int64(0)

``` Transformando em variáveis ```

In [89]:
usuarios = df_dados_criminais.get(planilhas[0])
incidentes = df_dados_criminais.get(planilhas[1])
ativos_monitorados = df_dados_criminais.get(planilhas[2])
antivirus = df_dados_criminais.get(planilhas[3])

``` Setando ID ```

In [120]:
incidentes.rename(columns={'ID Usuário': 'ID'}, inplace=True)
ativos_monitorados.rename(columns={'ID Usuário': 'ID'}, inplace=True)
antivirus.rename(columns={'ID Usuário': 'ID'}, inplace=True)
plataformas.rename(columns={'ID Usuário': 'ID'}, inplace=True)

C:\Users\gefra\AppData\Local\Temp\ipykernel_22276\539917205.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plataformas.rename(columns={'ID Usuário': 'ID'}, inplace=True)

``` Juntando Tabelas ```

In [121]:
# Fazer o merge dos dados
df = usuarios.merge(incidentes, on='ID')\
                           .merge(ativos_monitorados, on='ID')\
                           .merge(antivirus, on='ID')\
                           .merge(plataformas, on='ID')

In [122]:
df.head()

,ID,Bairro,Renda,Tipo de Ataque,Data,Hora,Status,Tempo para Resolver,Dispositivo,Sistema Operacional,Antivírus,Meio de Ataque
0,1001,Jardim Paulista,Até 2 salários,Adware,2025-03-29,09:07,Solucionado,1-2 dias,Celular,Windows 10+,Norton,Apps de mensagens
1,1002,Jardim Paulista,De 2 a 6 salários,Adware,2025-03-16,01:43,Solucionado,1-2 dias,Computador,Windows 10+,Windows Defender,E-mail falso
2,1003,Pinheiros,De 2 a 6 salários,Adware,2025-03-25,20:45,Não solucionado,1-2 dias,Celular,iOS 14+,Windows Defender,Sites fraudulentos
3,1004,Vila Andrade,De 2 a 6 salários,Adware,2025-03-27,23:05,Solucionado,Mais de 3 dias,Celular,Android 10+,Windows Defender,E-mail falso
4,1005,Itaim Bibi,Até 2 salários,Phishing,2025-03-24,21:25,Solucionado,Mais de 3 dias,Celular,Android 10+,Windows Defender,Sites fraudulentos