## Importando Libs

In [ ]:
import pandas as pd
import requests as req
import time

## Importando Dados

In [3]:
df_usuario = pd.read_csv("./mnt/data/usuarios.csv", delimiter=",")
df_incidente = pd.read_csv("./mnt/data/incidentes.csv", delimiter=",")
df_ativo = pd.read_csv("./mnt/data/ativos_monitorados.csv", delimiter=",")
df_plataforma = pd.read_csv("./mnt/data/plataformas.csv", delimiter=",")
df_antivirus = pd.read_csv("./mnt/data/antivirus.csv", delimiter=",")
import nest_asyncio
nest_asyncio.apply()

# Tratamento de dados

#### 1. Tabela Usuario

In [4]:
# Visualiza√ß√£o dos 5 primeiros
df_usuario.head()

,id_usuario,nome,idade,cep,data_de_nascimento,renda
0,1,Sarah Caldeira,49,05404-010,1975-11-09,13431.34
1,2,Dr. Luiz Ot√°vio Vargas,42,04105-010,1983-04-28,9792.60
2,3,Srta. Marcela Pereira,28,02862-120,1996-10-20,1929.75
3,4,Dr. Luigi Garcia,27,04836-110,1997-05-22,2267.47
4,5,Antonella da Mata,60,04836-110,1965-01-08,2906.67

##### Limpeza

In [5]:
# Verificando se h√° dados nulos
display(df_usuario.isnull().sum())

# Verificando se h√° duplicatas
display(df_usuario.duplicated().sum())

id_usuario            0
nome                  0
idade                 0
cep                   0
data_de_nascimento    0
renda                 0
dtype: int64

np.int64(0)

##### Obt√©m bairro, cidade e estado a partir do CEP errado

In [ ]:
# # Listas para armazenar os resultados
# bairros = []
# cidades = []

# df_usuario_errado = pd.read_csv('usuarios_errados.csv')

# # üîÅ Itera sobre os CEPs
# for cep in df_usuario_errado['cep']:
#     cep_str = str(cep).replace('-', '').strip()  # limpa o CEP
#     url = f'https://viacep.com.br/ws/{cep_str}/json/'
    
#     try:
#         response = req.get(url, timeout=0.2)
#         data = response.json()

#         # Se houver erro (como CEP inv√°lido)
#         if 'erro' in data:
#             bairros.append('CEP inv√°lido')
#             cidades.append('CEP inv√°lido')
#         else:
#             bairros.append(data.get('bairro', 'N/A'))
#             cidades.append(data.get('localidade', 'N/A'))
#     except Exception as e:
#         bairros.append('Erro')
#         cidades.append('Erro')

# # üß± Adiciona as novas colunas ao DataFrame
# df_usuario_errado['bairro'] = bairros
# df_usuario_errado['cidade'] = cidades

# # üíæ Salva o resultado em um novo Excel
# arquivo_saida = 'usuarios_corrigidos.csv'
# df_usuario_errado.to_csv(arquivo_saida, index=False)

# print(f'Arquivo salvo com sucesso como: {arquivo_saida}')

Arquivo salvo com sucesso como: usuarios_corrigidos.csv